* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-color: aliceblue;
    margin: 0px;
}

nav {
    background-color: #868686;
    margin: 0px;
    padding: 2%;
}

h1 {
    font-size: 250%;
}

p {
    color: #444;
    font-size: 150%;
}

button {
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    font-size: 150%;
}

#slideDiv {
    position: relative;
    background-image: url('https://www.w3schools.com/howto/img_5terre.jpg');
    transition:background-image 0.5s linear;
    margin: 0px;
    width: 100%;
    background-size: cover;
    z-index: -1;
    padding-top: 50%;
}

.slideText {
    margin: 0px;
    color: white;
    text-align: left;
    vertical-align: bottom;
}

