@font-face {
    font-family: "Parisienne" ;
    src: url("Assets/Parisienne.ttf") format('truetype');
}

@font-face {
    font-family: "Open-Sans" ;
    src: url("Assets/OpenSans.ttf") format('truetype');
}

* {
    font-family: Open-Sans ;
}


section {
     text-align: center;
}
body {
    background-color: aliceblue;
    margin: 0px;
}

nav {
    margin: 0px;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
}

a {
    text-decoration:dashed;
}

h1 {
    font-size: 250%;
    font-family: Parisienne;
}

p {
    color: #444;
    font-size: 150%;
}

button {
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    font-size: 150%;
}

header {
    background-color: #e7eded;
    position:fixed;
    width: 100%;
}



.slideText {
    margin: 0px;
    color: white;
    text-align: left;
    vertical-align: bottom;
}

.navLink {
    text-decoration: none;
    font-size: 1.5em;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    color: black;
    font-weight: bold;
}

#slideDiv {
    position: relative;
    background-image: url('Assets/louis-hansel-UtcOhVC-3VU-unsplash.jpg');
    transition:background-image 0.5s linear;
    margin: 0px;
    width: 100%;
    background-size: cover;
    z-index: -1;
    padding-top: 35%;
    padding-bottom: 2%;
    padding-left: 2%;
}

#logo {
    width: 3em;
    height: 3em;
    padding-left: 48%;
    text-align: left;
    padding-top: .5%;
    text-align: center;
}

#left-squigle {
    width: 45%;
    height: 3em;
    position:fixed;
}

#right-squigle {
    width: 45%;
    height: 3em;
    padding-left: 55%;
    position:fixed;
}